@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/**
This file contains the general and shared style of your application.
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
}

input,
textarea,
select,
button {
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

/**

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
*/


*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('./fonts/Roboto-Thin.ttf');
}
